.grandpa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid red;
}

.grandpa div {
    border: 2px solid blue;
    margin: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}